<div class='container pt-3'>
  <h3>Create a new listing</h3>
  <%= simple_form_for @listing do |f| %>
    <%= f.input :category, :collection => %w[Surfboard Longboard Buggieboard]%>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.submit class: 'btn btn-flat' %>
  <% end %>
</div>
