<div class= "container">

  <div class="mb-2">
    <div class="d-flex mt-2">
        <div class="btn btn-light rounded-circle mr-3">
          <%= link_to listings_path do %>
            <i class="fa-solid fa-chevron-left"></i>
          <%end%>
        </div>
      <h1><%= @listing.title %></h1>
    </div>
    <h4>
      <% @listing.rating.times do %>
        <i class="fa-solid fa-star"></i>
      <% end %>
    </h4>
    <h4><%=  @listing.location%> <i class="fa-solid fa-location-dot"></i> </h4>
  </div>

  <div class="d-flex justify-content-between image-grid">
    <div class="w-75 listing-image me-2" style="background-image: url(https://images.unsplash.com/photo-1531722569936-825d3dd91b15?ixlib=rb-4.0.3&ixid=MnwxM[…]90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)"></div>
    <div class ="w-25 d-flex flex-column">
      <div class="h-50 listing-image mb-1" style="background-image: url(https://images.unsplash.com/photo-1560616275-5ca158bd4876?ixlib=rb-4.0.3&ixid=MnwxMjA3[…]90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80)"></div>
      <div class="h-50 listing-image mt-1" style="background-image: url(https://images.unsplash.com/photo-1503293962593-47247718a17a?ixlib=rb-4.0.3&ixid=MnwxM[…]90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80)"></div>
    </div>
  </div>



  <div class= "d-flex mt-3">
    <div class= "col-6">
      <h2>“The Longboard offers the best option for first time surfers or larger surfers.”</h2>
      <p>The overall size makes these the easiest to paddle, catch waves and stand up on. Improving surfers can develop wide turns and nose riding thanks to the genuine longboard template and rocker.<p>
      <hr>
      <p>
        <strong>Dimensions</strong>
          - 7'9 x 22 3/8" x 3 1/4"
        <br>
          <strong>Volume</strong>
          - 66L
      </p>
    </div>

    <div class= "col-6">
      <div class= "d-flex justify-content-end mt-3">
        <div class="card" style="width: 75%;">
          <div class="card-body" data-controller="check-availability" data-check-availability-bookings-value="<%=@booking_dates.to_json%>">
            <h5 class="card-title">Daily Price : €<%=@listing.price  %></h5>
            <hr>
            <h3>Check availability</h3>
            <form action="<%=
            if current_user
              new_listing_booking_path(@listing)
            else
              new_user_session_path
            end
            %>" method="get">
              <div class="mt-2 d-flex ">
                <div class="flex-fill">
                  <p>From: </p><input type="date" name="from" data-check-availability-target="from">
                </div>
                <div class="flex-fill">
                  <p>To: </p><input type="date" name="to" data-check-availability-target="to">
                </div>
              </div>
              <div class="mt-3 d-flex"  data-check-availability-target="availability">
                <p class="card-text" style="margin-bottom: 0; margin-right: 3px;">Availability:  </p>
              </div>
              <hr>
              <input type="submit" name="Book now" class="btn-form" value="Book now">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

    <hr>

  <h2>Location :</h2>

    <div style="width: 100%; height: 600px;" class="rounded-4 mt-4"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-map-action-value="<%= action_name %>">
  </div>

</div>
