<div class="d-flex justify-content-center">
  <div class="row d-flex align-items-stretch">
    <%@bookings.each do |booking|%>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4 d-flex">
        <div class="card h-100">
          <div class="div-bookings-img-card">
              <div class="div-show-img">
                <% if booking.listing.photos.present? %>
                  <%= cl_image_tag booking.listing.photos.first.key %>
                <% else %>
                  <img class="img-index" src="https://images.unsplash.com/photo-1579042936650-2656bcb1dd22?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" class="card-img-top" alt="...">
                <% end %>
              </div>
          </div>
          <%# <img class="card-img-top" src="https://images.unsplash.com/photo-1531722569936-825d3dd91b15?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="Card image cap"> %>
          <div class="card-body d-flex justify-content-between flex-column">
            <h5 class="card-title"><%=booking.listing.title%></h5>
            <div class="d-flex justify-content-between">
              <p class="card-text">From: <%=booking.date_from%></p>
              <p class="card-text">To: <%=booking.date_to%></p>
            </div>
            <%=link_to "More Details", listing_path(booking.listing), class:"btn-form", style: "width: fit-content;"%>
            <%# <a href="#" class="btn-form" style="width: fit-content">More Details</a> %>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>
